:root{
    --red: #F94144;
    --dark-orange: #F3722C;
    --light-orange: #F8961E;
    --yellow: #F9C74F;
    --green: #90BE6D;
    --light-blue: #43AA8B;
    --dark-blue: #577590;

    --background-contrast: rgba(9, 8, 8, 0.88);
    --font-default: 'Roboto', sans-serif;
}

header, footer, main{
    width: 100%;
}

body{
    background: var(--background-contrast);
}

header, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--red);
}

.logo{
    width: 65px;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
}

p, spam{
    padding: 0.15em;
    color: white;
    font-family: var(--font-default);
}

.copyright{
    font-size: 0.8em;
    padding: 0;
    margin: 1em;
}

spam{
    font-size: 2em;
}

a{
    color: var(--light-blue);
    text-decoration: none;
}

.container{
    margin: 3%;
}

.tic-tac-toe{
    width: 30%;
    flex-direction: column;
}

#country-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

#img{
    margin: 0 auto;
}

.options{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#img{
    width: 30%;
}

.grid-space{
    height: 2.5em;
    font-family: var(--font-default);
    font-size: 3em;
    color: white;
    background: none;
    border: 2px solid white;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
}

.turn-container{
    display:flex;
    justify-content: space-around;
    margin: 1.5em;
}

.btn{
    background: var(--red);
    border: none;
    border-bottom: 2px solid red;
    color: white;
    font-family: var(--font-default);
    padding: 0.5em 1em;
}